<div class="card">
  <%= image_tag "atkl.PNG" %>
  <div class="card-body">
    <h5 class="card-title">ATKL Records</h5>
    <p class="card-text">Página Oficial del Sello Independiente de música Techno ATKL Records</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>

<div class="card">
  <%= image_tag "cuppon.png" %>
  <div class="card-body">
    <h5 class="card-title">Cuppon</h5>
    <p class="card-text">Página para encontrar cupones de descuentos </p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>

<div class="card">
  <%= image_tag "ricomida.PNG" %>
  <div class="card-body">
    <h5 class="card-title">Ricomida</h5>
    <p class="card-text">Página para Servicios de comida</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
</div>
