.btn-primary {
    background-color: #ff0000;
    /* Cambia el color de fondo del botón */
    border-color: #ff0000;
    /* Cambia el color del borde del botón */
    color: #ffffff;
    /* Cambia el color del texto del botón */
}
